<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Private Sale</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal"></script>
    <script src="https://unpkg.com/vue-toasted"></script>
    <style>
        body {
            color: white;
            background-image: url("bg.png");
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.379);
        }

        .position {
            position: absolute;
            right: 50px;
            top: 50px;
        }

        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .gradient-btn1 {
            background: linear-gradient(#fd8242,#ff3e70);
        }

        h1 {
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        label {
            font-size: 20px;
            margin-top: 20px;
        }

        input {
            min-width: 450px;
            max-width: 90%;
            margin: auto;
            border-radius: 12px !important;
        }

        .ml {
            margin-left: 8px;
        }

        .mt {
            margin-top: 12px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <button v-if="!getUserAccount" class="btn btn-lg m-4 text-light gradient-btn1 px-4 position" @click="onConnect()">Connect
                Wallet</button>
            <button v-else class="btn btn-lg m-4 text-light gradient-btn1 position px-4" @click="disconnect()">Disconnect</button>
            <div class="container">
                <div>
                    <h1 class="text-center mb-4">Private Sale</h1>
                    <div>
                        <label for="email">
                            Your Email
                        </label>
                        <input type="text" name="email" class="form-control" />
                    </div>
                    <div>
                        <label for="amount">
                            Amount in BNB
                        </label>
                        <input type="text" name="amount" v-model="amount" class="form-control" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-lg m-4 text-light gradient-btn1 mt-5 px-5" @click="buyToken()" v-bind:disabled="disable">
                            BUY TOKENS
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const Web3Modal = window.Web3Modal.default;
        const CONTRACT_ADDRESS = "";

        Vue.use(Toasted, {
            position: "bottom-right",
            duration: 2000
        })
        var app = new Vue({
            el: "#app",
            data() {
                return {
                    walletAddress: "",
                    amount: "",
                    disable: true,
                    getWeb3: null,
                    getUserAccount: ""
                };
            },
            beforeMount() {
                this.web3Modal = new Web3Modal({
                    cacheProvider: false,
                    disableInjectedProvider: false,
                });
            },
            methods: {
                async onConnect() {
                    try {
                        let provider = await this.web3Modal.connect();
                        this.onProvider(provider);
                    } catch (e) {
                        console.log("Could not get a wallet connection", e);
                        return;
                    }
                },
                async buyToken() {
                    if (this.amount <= 0) {
                        this.$toasted.error("Enter Amount!");
                        return;
                    }

                    this.disable = true;

                    let value = this.getWeb3.utils.toHex(
                        this.getWeb3.utils.toWei(this.amount.toString(), "ether")
                    );
                    try {
                        await this.getWeb3.eth.sendTransaction({
                            from: this.getUserAccount,
                            to: CONTRACT_ADDRESS,
                            value: value,
                        });
                        this.$toasted.success("Transaction Successful!");
                        this.disable = false;
                    } catch {
                        this.$toasted.error("Transaction Failed!");
                        this.disable = false;
                    }
                },
                async onProvider(provider) {
                    try {
                        let web3 = new Web3(provider);
                        this.getWeb3 = web3

                        let accounts = await web3.eth.getAccounts();
                        this.walletAddress = accounts[0];
                        this.getUserAccount = accounts[0]
                        this.disable = false;
                    } catch (e) {
                        console.log("Could not get a wallet connection", e);
                        return;
                    }
                },
                addrTruncation(addr) {
                    return (
                        addr.slice(0, 6) + "…" + addr.slice(addr.length - 4, addr.length)
                    );
                },
                disconnect() {
                    this.getWeb3 = null
                    this.getUserAccount = null
                    this.walletAddress = null;
                    this.amount = null;
                    this.disable = true
                },
            }
        });
    </script>

</body>

</html>
